#preloadLogo{
  position: relative;
  top: 0px;
  left: 0px;
  height: 100vh;
  width: 100vw;
}
#logoInsert{
  display:flex;
  justify-content: center;
  align-items: center;
  line-height: 100vh;
  margin:auto;
}
#logoInsert .animate__flipInX{

  color: rgb(13,25,87);
}
