.navFullPage{
    height:100%;
    width:100vw;
    position: absolute;
}
.navbarContainer{
    background-color: transparent;
    z-index: 1;
    width:3.5vw;
    max-width:3.5vw;
    height:10vh;
    max-height:10vh;
    position:fixed;
    top:45%;
    border: 1px transparent solid;
    padding: 0px;
    margin: 0px;
    right:0%;
}
.navLinks{
    display:flex;
    justify-content: space-between;
    flex-direction: column;
    margin:0px;
    padding: 0px;
}
.navLinks a:link,
.navLinks a:visited,
.navLinks a:focus,
.navLinks a:hover{
    color:#0D1957;
}
.navLinks a:active{
    color:grey;
}
