@font-face{
    font-family: "RosmatikaRegular";
    src: local("RosmatikaRegular"),
    url("../fonts/RosmatikaRegular-BWA45.ttf") format("truetype");
}
@font-face{
    font-family: "Avenuex";
    src: local("Avenuex"),
    url("../fonts/Avenuex-75oB.otf") format("opentype");
}
@font-face{
    font-family: "Kbluckyclover";
    src: local("Kbluckyclover"), 
    url("../fonts/Kbluckyclover-djAR.ttf") format("truetype");
}
@font-face{
    font-family: "HouseSignatureSans";
    src: local("HouseSignatureSans"), 
    url("../fonts/HouseSignatureSans-Yz0Vj.ttf") format("truetype");
}

.fullpageContainer{
    position:relative;
    height:100vh;
}
.mainContentContainer{
    position:relative;
    display:flex;
    margin-left: auto;
    margin-right: auto;
    top: 5%;
    z-index: 98;
    max-width: 87vw;
    width: 87vw;
    max-height:85vh;
    height: 85vh;
    border:none;
    border-radius: 20px;
    box-shadow: 0px 10px 25px 11px rgba(143,143,143,0.85);
-webkit-box-shadow: 0px 10px 25px 11px rgba(143,143,143,0.85);
-moz-box-shadow: 0px 10px 25px 11px rgba(143,143,143,0.85);
}
.mainContentContainer h5 {
    position:absolute;
    top: -7%;
    right: 2%;
    border: none;
    text-decoration: underline;
    color: #0D1957;
    font-family: "HouseSignatureSans";
}
.verticalText h3{
    display: table-cell;
    vertical-align: middle;
    height:auto;
    margin:0px;
    padding:0px;
    justify-content: flex-end;
}
.leftContainer {
    /* background-color: rgb(12, 25, 87); */
    border-radius: 20px 0px 0px 20px; 
    background: rgb(13,25,87);
background: linear-gradient(90deg, rgba(13,25,87,1) 0%, rgba(35,42,79,1) 32%, rgba(13,25,87,0.9752275910364145) 100%);
    width:100%;
    height:100%;
}
.rightContainer {
    border-radius: 0px 20px 20px 0px; 
    text-align:left;
    display:flex;
    flex-direction: column;
    /* background-color: rgb(219, 219, 219); */
    background: rgb(219,219,219);
background: linear-gradient(90deg, rgba(219,219,219,1) 0%, rgba(255,255,255,1) 72%, rgba(219,219,219,1) 100%);
    width:100%;
    height:100%;
}
.rightContainer .horizontalText{
    position: relative;
    display: flex;
    vertical-align: middle;
    max-width: 25vw;
    justify-content: space-between;
    float: left;
    /* position: absolute; */
    left: 15%;
    top: 42%;
    font-family: AvenueX;
}
.leftContainer .verticalText{
    font-size:1em;
    font-family: Avenuex;
    position: relative;
    float:right;
    top:58%;
    right:15px;
    flex-direction:column;
    /* align-items: center; */
    color: rgb(228, 228, 228);
    display:flex;
    justify-content: space-between;
    max-width: 32px;
    width: 40%;
    height:40%;
}