
.mainContentContainer{
    position:relative;
    height:100%;
    width:100%;
    display:flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 5%;
    z-index: 1;
    max-width: 87vw;
    width: 87vw;
    max-height:85%;
    height: 85vh;
    box-shadow: 0px 10px 25px 11px rgba(143,143,143,0.85);
-webkit-box-shadow: 0px 10px 25px 11px rgba(143,143,143,0.85);
-moz-box-shadow: 0px 10px 25px 11px rgba(143,143,143,0.85);
}
.leftContainer .verticalText{
    position: relative;
    top:40%;
    flex-direction:column;
    align-items: center;
    color:white;
    display:flex;
    justify-content: space-between;
    max-width: 32px;
    width: auto;
    height:50%;
}
.verticalText h3{
    display: table-cell;
    vertical-align: middle;
    height:auto;
    margin:0px;
    padding:0px;
    justify-content: flex-end;
}
@font-face{
    font-family: "RosmatikaRegular";
    src: local("RosmatikaRegular"),
    url("../fonts/RosmatikaRegular-BWA45.ttf") format("truetype");
}
.leftContainer {
    background-color: rgb(12, 25, 87);
    width:100%;
    height:100%;
}
.leftContainer h1{
    color: white;
    font-size: 36px;
    position:relative;
    top:40%;
    left:92%;
    margin:0px;
    padding:0px;
}
.rightContainer {
    text-align:left;
    display:flex;
    flex-direction: column;
    font-family: "RosmatikaRegular";
    background-color: rgb(219, 219, 219);
    width:100%;
    height:100%;
}
.rightContainer h1{
    font-size: 36px;
    justify-content: flex-start;
    position:relative;
    top:40%;
    left:0%
}