#headerText {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 5px;
    position: relative;
    z-index: 101;
    top: 1em; 
    margin: auto;
    transform: translate(50%,-50%);
    text-transform: uppercase;
    /* font-family: verdana; */
    font-size: 2em;
    background-color: #D9DDFC;
    font-weight: 700;
    color: #01082c;
    text-shadow: 1px 1px 1px rgb(193, 191, 191),
        1px 3px 1px rgb(193, 191, 191),
        1px 4px 1px rgb(193, 191, 191),
        1px 5px 1px rgb(193, 191, 191),
        1px 6px 1px rgb(193, 191, 191),
        1px 7px 1px rgb(193, 191, 191),
        1px 8px 1px rgb(193, 191, 191),
        1px 9px 1px rgb(193, 191, 191),
        1px 10px 1px rgb(193, 191, 191),
    1px 18px 6px rgba(16,16,16,0.4),
    1px 22px 10px rgba(16,16,16,0.2),
    1px 25px 35px rgba(16,16,16,0.2),
    1px 30px 60px rgba(16,16,16,0.4);
  }
  
  .sectionContent{
    display:flex; 
    justify-content: center;
    align-items:center;
    position:relative;
    height: 100vh;
    max-height: 1920px;
    width: 100vw;
    max-width: 100vw;
  }
#leftCard{
    z-index:98;
    position:absolute;
    top:5%;
    left:5%;
    margin-left: 25px;
    margin-right:25px;
}
#middleCard{
    font-weight: 1rem;
    z-index:97;
    position:absolute;
    top:5%;
    left:35%;
    margin-left: 25px;
    margin-right:25px;
}
#rightCard{
    z-index:98;
    position:absolute;
    top:5%;
    left: 65%;
    margin-left: 25px;
    margin-right:25px;
}
.column header{
    font-family: superthin;
}
.column{
    display:flex;
    flex-direction: column;
    margin-top: 5%;
    width: 25%;
    height: 95vh;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0px 10px 25px 11px rgba(143,143,143,0.85);
-webkit-box-shadow: 0px 10px 25px 11px rgba(143,143,143,0.85);
-moz-box-shadow: 0px 10px 25px 11px rgba(143,143,143,0.85);
    background-color: white;
}
@font-face{
    font-family: "Avenuex";
    src: local("Avenuex"),
    url("../fonts/Avenuex-75oB.otf") format("opentype");
}
/* Dropdown Button */
.dropbtn {
    overflow: scroll;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 20px;
    background-color: black;
    color: rgb(65, 84, 157);
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor:grab;
    border-radius:15px;
    font-family: SuperThin;
    max-width:80%
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: center;

}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    font-family:Thin;
    display: none;
    position: absolute;
    left:70%;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border: solid 1px transparent;
    border-radius: 15px;
    z-index: 99;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #51515184}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: inline-block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #b7b6b684;
}
@font-face {
    font-family: "SuperThin";
    src: local("SuperThin"),
    url("../fonts/SuperThin-eZVDe.ttf") format("truetype")
}
 form header{
    font-family:SuperThin;
 }
 @font-face {
    font-family: "Thin";
    src: local("Thin"),
    url(../fonts/Thin-DdE3.ttf) format("truetype")
 }
.aboutMainDiv p {
    /* font-family: superthin; */
    padding-right: 15px;
    padding-left: 15px;
}
.workMainDiv p {
    /* font-family: superthin; */
    /* letter-spacing: 2px; */
    padding-left: 15px;
    padding-right: 15px;
}
.columnText{
    font-weight: .5rem;
    max-height: 55vh;
    overflow-y: scroll;
    overflow-x:inherit !important;
}