.contactCard{
    position:absolute;
    width:65vw;
    max-width:65vw;
    height: 70vh;
    max-height: 70vh;
    
}
#contactPageContainer{
    position: relative;
    border-radius: 15px;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    width:100vw;
    max-width:1080px;
    height: 100vh;
    max-height: 1920px;
    margin-left: auto;
    margin-right: auto;
}
form header{
    position:absolute;
    top:15%;
    left:43%;
    padding-left: 15px;
}
#contactForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 25px;
    height: 70vh;
    max-height: 70vh;
    width: 60vw;
    max-width: 60vw;
    border-radius: 15px;
    box-shadow: 0px 10px 25px 11px rgba(143,143,143,0.85);
    -webkit-box-shadow: 0px 10px 25px 11px rgba(143,143,143,0.85);
    -moz-box-shadow: 0px 10px 25px 11px rgba(143,143,143,0.85);
    background-color: rgb(232, 232, 232);
    /* border: 1px solid black; */
}
#emailInput{
    max-height: 5vh;
    height: 5vh;
    width: 40vw;
    max-width: 40vw;
    border-radius: 5px;
    border: 1px solid black;

}
#messageInput {
    border-radius: 5px;
    border: 1px solid black;

    height:30vh;
    width: 40vw;
}
main{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
form button {
    margin-top: 25px;
}